.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d47979;
    padding: 15px 7%;
}

ul{
    flex: 1;
    list-style:none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.search-box{
    display:flex;
    align-items: center;
    background-color: 242424;
    padding: 10px 20px;
    border-radius:50px;
}
.search-box input{
    padding: 6px;
    background: transparent;
    border:0;
    outline:0;
    color:#fff;
    font-size: 18px;
    max-width: 200px;
}
.search-box input::placeholder{
    color:#fff;
}
.search-box i{
    width: 20px;
    cursor: pointer;
}