.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7a6464;
    padding: 15px 7%;
}

ul{
    flex: 1;
    list-style:none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.meesho-logo{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.search-box{
    display:flex;
    align-items: center;
    background-color: 242424;
    padding: 10px 20px;
    border-radius:50px;
}
.search-box input{
    padding: 6px;
    border-radius: 30px;
    border:0;
    outline:0;
    color:#3c3636;
    font-size: 18px;
    max-width: 200px;
}
.search-box input::placeholder{
    color:#1f1414;
}
.search-box i{
    width: 20px;
    cursor: pointer;
}